.header {
}

.navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
}

.navCenter {
  grid-column: 2;
  justify-self: center;
}

.navRight {
  grid-column: 3;
  justify-self: end;
  display: flex;
  gap: 1rem;
  padding-right: 1rem;
}

.active {
  color: grey;
}

.inactive {
  color: black;
}
