.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    width: 550px;
    margin: 0 auto;
}

.error {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    max-width: 50vw;
    margin: auto;
}

